<!-- /snippets/collection-category.liquid -->
{%- if block.settings.position contains 'sidebar' -%}
  {%- assign layout_class = 'layout-sidebar' -%}
{%- else -%}
  {%- assign layout_class = 'layout-content' -%}
{%- endif -%}
<div class="{{ layout_class }} collection-category {{ block.settings.display }}">
  {%- if block.settings.title != blank -%}
    <div class="{{ layout_class }}-title">
      <h3>{{ block.settings.title }}</h3>
    </div>
  {%- endif -%}
  <div class="{{ layout_class }}-content">
    <ul class="collection-category-list no-bullet vertical menu">
      <li{% if collection.handle == 'all' %} class="active"{% endif %}>
        <a href="/collections/all">{{ 'collections.general.view_all' |t }}{% if block.settings.product_count %} ({{ collections.all.products_count}}){% endif %}</a>
      </li>
      {%- for category in collections -%}
        <li{% if collection.handle == category.handle %} class="active"{% endif %}>
          <a href="{{ category.url }}">{{ category.title }}{% if block.settings.product_count %} ({{ category.products_count}}){% endif %}</a>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</div>

{% comment %}
<div class="spacetek-price-filter">
  <div class="layout-sidebar-title">
      <h3>Filter By Price</h3>
  </div>
  <ul class="clearfix filters">
    <li class="clearfix filter">
      <label>Shop by price</label>
      <select class="coll-picker">
        <option value="all">All</option>
        {% assign price_collections = 'under-1000' | split: ',' %}
        {% for pc_handle in price_collections %}
          <option value="{{ pc_handle }}" {% if collection.handle == pc_handle %}selected{% endif %}>{{ collections[pc_handle].title }}</option>
        {% endfor %}
      </select>
    </li>
  </ul>
</div>
{% endcomment %}

<div class="spacetek-tags-filter">
  <div class="layout-sidebar-title">
      <h3>Product Tags</h3>
  </div>
  {% if collection.all_tags.size > 0 %}
    <ul class="tag-filters">
      {% for tag in collection.all_tags %}
        {% if current_tags contains tag %}
          <li class="tag-filters__item active">{{ tag | link_to_remove_tag: tag }}</li>
        {% else %}
          <li class="tag-filters__item">{{ tag | link_to_add_tag: tag }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
</div>
