<!-- /snippets/collection-link-list.liquid -->
{%- if block.settings.position contains 'sidebar' -%}
  {%- assign layout_class = 'layout-sidebar' -%}
{%- else -%}
  {%- assign layout_class = 'layout-content' -%}
{%- endif -%}
<div class="{{ layout_class }} collection-link-list {{ block.settings.display }}">
  {%- if block.settings.title != blank -%}
    <div class="{{ layout_class }}-title conllections-title">
      {{ block.settings.title }}
    </div>
  {%- endif -%}
  <div class="{{ layout_class }}-content">
    {%- if block.settings.link_list != blank and linklists[block.settings.link_list] != empty -%}
      <ul class="collection-category-list vertical menu accordion-menu margin-0" data-accordion-menu data-submenu-toggle="true" data-auto-expand="true">
        {%- for link in linklists[block.settings.link_list].links -%}
          <li class="{% if link.active %}active{% endif %}">
            <a href="{{ link.url }}">{{ link.title }}</a>
            {% if link.links != blank %}
              <ul class="menu vertical nested" aria-hidden="true">
                {%- include 'menu-child', child_links: link.links, child_active: true -%}
              </ul>
            {%- elsif linklists[link.handle].links != empty and linklists[link.handle].links != blank -%}
              <ul class="menu vertical nested" aria-hidden="true">
                {%- include 'menu-child', child_links: linklists[link.handle].links, child_active: true -%}
              </ul>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>
</div>