<!-- /snippets/collection-filter.liquid -->
{%- if block.settings.position contains 'sidebar' -%}
  {%- assign layout_class = 'layout-sidebar' -%}
{%- else -%}
  {%- assign layout_class = 'layout-content' -%}
{%- endif -%}
<div class="{{ layout_class }} collection-filter {{ block.settings.display }}">
  {%- if block.settings.title != blank -%}
    <div class="{{ layout_class }}-title">
      <h3>{{ block.settings.title }}</h3>
    </div>
  {%- endif -%}
  <div class="{{ layout_class }}-content">
    {%- assign tags = block.settings.tags | split: ',' -%}
    {%- if block.settings.type == "color" -%}
      <div class="collection-filter-color-list grid-x">
        {%- for tag in tags -%}
          {%- assign tag1 = tag | strip | strip_newlines -%}
          {%- if collection.tags contains tag1 -%}
            {%- capture filter_html -%}
              <span class="collection-filter-color-background display-block" style="background: {% include 'collection-filter-color-detector' %};"></span>
            {%- endcapture -%}
            {%- if current_tags contains tag1 -%}
              <div class="collection-filter-color active" data-collection-filter="{{ tag | handle }}">{{ filter_html | link_to_remove_tag: tag }}</div>
            {%- else -%}
              <div class="collection-filter-color" data-collection-filter="{{ tag | handle }}">{{ filter_html | link_to_add_tag: tag }}</div>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      </div>
    {%- elsif block.settings.type == "size" -%}
      <div class="collection-filter-size-list grid-x">
        {%- for tag in tags -%}
          {%- assign tag1 = tag | strip | strip_newlines -%}
          {%- if collection.tags contains tag1 -%}
            {%- if current_tags contains tag1 -%}
              <div class="collection-filter-size active flex-container align-center-middle" data-collection-filter="{{ tag | handle }}">{{ tag | link_to_remove_tag: tag }}</div>
            {%- else -%}
              <div class="collection-filter-size flex-container align-center-middle" data-collection-filter="{{ tag | handle }}">{{ tag | link_to_add_tag: tag }}</div>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      </div>
    {%- elsif block.settings.type == "vendor" -%}
      <ul class="{{ block.settings.type }} no-bullet">
        {%- for product_vendor in collection.all_vendors -%}
          {%- assign product_vendor_downcase = product_vendor | downcase -%}
          <li class="collection-filter-list{% if collection.current_vendor == product_vendor or collection.current_vendor == product_vendor_downcase %} active{% endif %}" data-collection-query="{{ product_vendor_downcase | remove: '"' }}">
            <div class="collection-filter-checker">
              <svg>
                <use xlink:href="#icon-checker"/>
              </svg>
            </div>
            {{ product_vendor | link_to_vendor }}
          </li>
        {%- endfor -%}
      </ul>
    {%- elsif block.settings.type == "type" -%}
      <ul class="{{ block.settings.type }} no-bullet">
        {%- for product_type in collection.all_types -%}
          {%- assign product_type_downcase = product_type | handle -%}
          <li class="collection-filter-list{% if collection.current_type == product_type or collection.current_type == product_type_downcase %} active{% endif %}" data-collection-query="{{ product_type_downcase | remove: '"' }}">
            <div class="collection-filter-checker">
              <svg>
                <use xlink:href="#icon-checker"/>
              </svg>
            </div>
            {{ product_type | link_to_type }}
          </li>
        {%- endfor -%}
      </ul>
    {%- else -%}
      <ul class="{{ block.settings.type }} no-bullet">
        {%- for tag in tags -%}
          {%- assign tag1 = tag | strip | strip_newlines -%}
          {%- if collection.tags contains tag1 -%}
          <li class="collection-filter-list{% if current_tags contains tag1 %} active{% endif %}" data-collection-filter="{{ tag | handle }}">
            <div class="collection-filter-checker">
              <svg>
                <use xlink:href="#icon-checker"/>
              </svg>
            </div>
            {{ tag | link_to_add_tag: tag }}
          </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>
</div>