<!-- /snippets/list-collections-item.liquid -->
{%- unless collection_image_size -%}
  {%- assign collection_image_size = '450x450' -%}
{%- endunless -%}
{%- unless collection.empty? -%}
<div class="collection-item">
  <div class="collection-item-thumb">
    {%- if collection.image -%}
      {%- assign collection_image_url = collection.image -%}
    {%- else -%}
      {%- assign collection_image_url = collection.products.first.featured_image -%}
    {%- endif -%}
    <a href="{{ shop.url }}{{ collection.url }}" class="display-block">
      <img src="{{ 'icon-loader-clock.svg' | asset_url }}" data-src="{{ collection_image_url | img_url: collection_image_size, crop: 'center' }}" data-srcset="{{ collection_image_url | img_url: collection_image_size, crop: 'center' }} 800w, {{ collection_image_url | img_url: collection_image_size, crop: 'center', scale: 2 }} 1440w, {{ collection_image_url | img_url: collection_image_size, crop: 'center', scale: 3 }} 1920w" alt="{{ collection_image_url.alt | escape }}" class="lazyload width-100" />
    </a>
  </div>
  <div class="collection-item-caption">
    <h4 class="collection-item-title">
      <a href="{{ shop.url }}{{ collection.url }}">{{ collection.title }}</a>
    </h4>
  </div>
</div>
{%- endunless -%}