<!-- /snippets/social-media-color.liquid -->
<div class="{{ class_prefix }}social-media-color-container grid-x grid-margin-x grid-margin-y">
  {%- if settings.social_custom_1_link != blank -%}
    <div class="cell shrink">
      <a href="{{ settings.social_custom_1_link }}" target="_blank" class="{{ class_prefix }}social-media-color-link display-block">
        <img src="{{ settings._1_logo | img_url: '128x' }}" alt="{{ settings.social_custom_1_title }}"/>
      </a>
    </div>
  {%- endif -%}
  {%- if settings.social_custom_2_link != blank -%}
    <div class="cell shrink">
      <a href="{{ settings.social_custom_2_link }}" target="_blank" class="{{ class_prefix }}social-media-color-link display-block">
        <img src="{{ settings.social_custom_2_logo | img_url: '128x' }}" alt="{{ settings.social_custom_2_title }}"/>
      </a>
    </div>
  {%- endif -%}
  {%- if settings.social_custom_3_link != blank -%}
    <div class="cell shrink">
      <a href="{{ settings.social_custom_3_link }}" target="_blank" class="{{ class_prefix }}social-media-color-link display-block">
        <img src="{{ settings.social_custom_3_logo | img_url: '128x' }}" alt="{{ settings.social_custom_3_title }}"/>
      </a>
    </div>
  {%- endif -%}
  {%- if settings.social_custom_4_link != blank -%}
    <div class="cell shrink">
      <a href="{{ settings.social_custom_4_link }}" target="_blank" class="{{ class_prefix }}social-media-color-link display-block">
        <img src="{{ settings.social_custom_4_logo | img_url: '128x' }}" alt="{{ settings.social_custom_4_title }}"/>
      </a>
    </div>
  {%- endif -%}
  {%- if settings.social_custom_5_link != blank -%}
    <div class="cell shrink">
      <a href="{{ settings.social_custom_5_link }}" target="_blank" class="{{ class_prefix }}social-media-color-link display-block">
        <img src="{{ settings.social_custom_5_logo | img_url: '128x' }}" alt="{{ settings.social_custom_5_title }}"/>
      </a>
    </div>
  {%- endif -%}
  {%- if settings.social_twitter_link != blank -%}
    <div class="cell shrink">
      <a href="{{ settings.social_twitter_link }}" target="_blank" class="{{ class_prefix }}social-media-color-link display-block">
        <svg class="svg-icon">
          <use xlink:href="#icon-color-twitter" />
        </svg>
      </a>
    </div>
  {%- endif -%}
  {%- if settings.social_facebook_link != blank -%}
    <div class="cell shrink">
      <a href="{{ settings.social_facebook_link }}" target="_blank" class="{{ class_prefix }}social-media-color-link display-block">
        <svg class="svg-icon">
          <use xlink:href="#icon-color-facebook" />
        </svg>
      </a>
    </div>
  {%- endif -%}
  {%- if settings.social_pinterest_link != blank -%}
    <div class="cell shrink">
      <a href="{{ settings.social_pinterest_link }}" target="_blank" class="{{ class_prefix }}social-media-color-link display-block">
        <svg class="svg-icon">
          <use xlink:href="#icon-color-pinterest" />
        </svg>
      </a>
    </div>
  {%- endif -%}
  {%- if settings.social_instagram_link != blank -%}
    <div class="cell shrink">
      <a href="{{ settings.social_instagram_link }}" target="_blank" class="{{ class_prefix }}social-media-color-link display-block">
        <svg class="svg-icon">
          <use xlink:href="#icon-color-instagram" />
        </svg>
      </a>
    </div>
  {%- endif -%}
  {%- if settings.social_tumblr_link != blank -%}
    <div class="cell shrink">
      <a href="{{ settings.social_tumblr_link }}" target="_blank" class="{{ class_prefix }}social-media-color-link display-block">
        <svg class="svg-icon">
          <use xlink:href="#icon-color-tumblr" />
        </svg>
      </a>
    </div>
  {%- endif -%}
  {%- if settings.social_behance_link != blank -%}
    <div class="cell shrink">
      <a href="{{ settings.social_behance_link }}" target="_blank" class="{{ class_prefix }}social-media-color-link display-block">
        <svg class="svg-icon">
          <use xlink:href="#icon-color-behance" />
        </svg>
      </a>
    </div>
  {%- endif -%}
  {%- if settings.social_blogger_link != blank -%}
    <div class="cell shrink">
      <a href="{{ settings.social_blogger_link }}" target="_blank" class="{{ class_prefix }}social-media-color-link display-block">
        <svg class="svg-icon">
          <use xlink:href="#icon-color-blogger" />
        </svg>
      </a>
    </div>
  {%- endif -%}
  {%- if settings.social_dribble_link != blank -%}
    <div class="cell shrink">
      <a href="{{ settings.social_dribble_link }}" target="_blank" class="{{ class_prefix }}social-media-color-link display-block">
        <svg class="svg-icon">
          <use xlink:href="#icon-color-dribble" />
        </svg>
      </a>
    </div>
  {%- endif -%}
  {%- if settings.social_gplus_link != blank -%}
    <div class="cell shrink">
      <a href="{{ settings.social_gplus_link }}" target="_blank" class="{{ class_prefix }}social-media-color-link display-block">
        <svg class="svg-icon">
          <use xlink:href="#icon-color-gplus" />
        </svg>
      </a>
    </div>
  {%- endif -%}
  {%- if settings.social_linkedin_link != blank -%}
    <div class="cell shrink">
      <a href="{{ settings.social_linkedin_link }}" target="_blank" class="{{ class_prefix }}social-media-color-link display-block">
        <svg class="svg-icon">
          <use xlink:href="#icon-color-linkedin" />
        </svg>
      </a>
    </div>
  {%- endif -%}
  {%- if settings.social_snapchat_link != blank -%}
    <div class="cell shrink">
      <a href="{{ settings.social_snapchat_link }}" target="_blank" class="{{ class_prefix }}social-media-color-link display-block">
        <svg class="svg-icon">
          <use xlink:href="#icon-color-snapchat" />
        </svg>
      </a>
    </div>
  {%- endif -%}
  {%- if settings.social_youtube_link != blank -%}
    <div class="cell shrink">
      <a href="{{ settings.social_youtube_link }}" target="_blank" class="{{ class_prefix }}social-media-color-link display-block">
        <svg class="svg-icon">
          <use xlink:href="#icon-color-youtube" />
        </svg>
      </a>
    </div>
  {%- endif -%}
  {%- if settings.social_vimeo_link != blank -%}
    <div class="cell shrink">
      <a href="{{ settings.social_vimeo_link }}" target="_blank" class="{{ class_prefix }}social-media-color-link display-block">
        <svg class="svg-icon">
          <use xlink:href="#icon-color-vimeo" />
        </svg>
      </a>
    </div>
  {%- endif -%}
</div>