<!-- /snippets/theme-footer.liquid -->
<div class="footer">
  {% if section.settings.info_active %}
  <div class="grid-container"> 
    <div class="grid-x grid-margin-x all-list-footer">
        {%- for block in section.blocks -%}
      	{% if block.type == 'text' %}
          <div class="cell footer-information-responsive medium-6  large-{{ block.settings.grid }} {{ block.settings.display }}">
            <div class="footer-information">
              <div class="footer-logo"><a href="{{ shop.url }}"><img src="{% if block.settings.logo%}{{ block.settings.logo | img_url: 'master' }}{% else %}{{ 'logo-footer.png' | asset_url }}{% endif %}" alt="{{ block.settings.logo.alt }}" /></a></div>
              <div class="footer-desc">{{ block.settings.desc }}</div>
              <div class="footer-address"><em class="sli sli-{{ block.settings.icon_1 }}"></em> {{ block.settings.title_1 }}</div>
              <div class="footer-phone"><em class="sli sli-{{ block.settings.icon_2 }}"></em> {{ block.settings.title_2 }}</div>
              <div class="footer-email"><em class="sli sli-{{ block.settings.icon_3 }}"></em> {{ block.settings.title_3 }}</div>
            </div>
          </div>
        {% endif %}
        {%- if block.type == 'link1' -%}
          {%- if block.settings.display == "" or block.settings.display == "show-for-large" -%}
            <div class="cell medium-6 large-{{ block.settings.grid }} {{ block.settings.display }} hide-for-small-only">
              <div class="footer-linklist-1">
                {%- if block.settings.title != blank -%}
                  <h3 class="footer-title">
                    {{ block.settings.title }}
                  </h3>
                {%- endif -%}
                <ul class="no-bullet linklist-content">
                  {%- for link in linklists[block.settings.linklist].links -%}
                    <li>
                      <a href="{{ link.url }}">{{ link.title | escape }}</a>           
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </div>
          {%- endif -%}
          {%- if block.settings.display == "" or block.settings.display == "hide-for-large" -%}
            <div class="cell large-{{ block.settings.grid }} {{ block.settings.display }} show-for-small-only">
              <div class="accordion footer-linklist-1 footer-linklist-accordion" data-allow-all-closed="true" data-accordion>
                <div class="accordion-item" data-accordion-item>
                  <a class="accordion-title footer-linklist-accordion-title">{{ block.settings.title }}</a>
                  <div class="accordion-content padding-vertical-0" data-tab-content>
                    <ul class="no-bullet footer-linklist-accordion-content margin-0">
                      {%- for link in linklists[block.settings.linklist].links -%}
                        <li class="footer-linklist-accordion-item">
                          <a href="{{ link.url }}">{{ link.title | escape }}</a>           
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          {%- endif -%} 
        {%- endif -%} 
        {%- if block.type == 'newsletter' -%}
          <div class="cell footer-newsletter-responsive medium-6 large-{{ block.settings.grid }} {{ block.settings.display }}">
            <div class="footer-newsletter">
              {%- if block.settings.title != blank -%}
              <div class="footer-newsletter-title">
                <div class="heading">{{ block.settings.title }}</div>
                <div class="desc">{{ block.settings.desc }}</div>
              </div>
              {%- endif -%}
              <div class="footer-newsletter-content">
                {%- form 'contact' -%} 
                  <div class="grid-x footer-newsletter-wrap"> 
                    <div class="cell large-auto">
                      <input type="email" class="footer-newsletter-field" name="EMAIL" placeholder="{{ block.settings.newsletter_placeholder }}"/>
                    </div>
                    <div class="cell large-shrink">
                      <button type="submit" class="button footer-newsletter-button display-block width-100" name="subsrcibe">
                        {{ block.settings.newsletter_actiontext }}
                      </button>
                    </div>
                  </div>
                {%- endform -%}
              </div>
              <div class="social-icons">
                {%- include 'social-media' -%}
              </div>
            </div>
          </div>
        {%- endif -%} 
        {%- endfor -%}
    </div>    
  </div>
  {% endif %}
  
  {% if section.settings.news_active %}
  <div class="footer-boxes" style="background-color:{{ section.settings.newsbkg }}">
    <div class="grid-container"> 
      <div class="grid-x">
      {%- for block in section.blocks -%}
        {%- if block.type == 'box' -%}
          <div class="box-element cell medium-6 large-3 {{ block.settings.display }}">
            <div class="box-icon">
              <svg class="svg-icon">
                <use xlink:href="#icon-{{ block.settings.icon }}" />
              </svg>
            </div>
            <div class="box-heading">{{ block.settings.title }}</div>
            <div class="box-desc">{{ block.settings.desc }}</div>
     	  </div>
        {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
  
  <div class="footer-bottom">
    <div class="grid-container"> 
        <div class="grid-x">
            {%- for block in section.blocks -%}
            {%- if block.type == 'payment' -%}
            <div class="cell large-{{ block.settings.grid }} xlarge-{{ block.settings.grid }} {{ block.settings.display }}">
              <div class="footer-payment">
                {%- if block.settings.title != blank -%}
                  <h3 class="footer-title footer-payment-title">
                    {{ block.settings.title }}
                  </h3>
                {%- endif -%}
                <div class="footer-payment-content">
                  <div class="footer-payment-container flex-container">
                    {%- if block.settings.payment_1 != blank -%}
                      <div class="footer-payment-cell">
                        <img src="{{ 'icon-loader-clock.svg' | asset_url }}" data-src="{{ block.settings.payment_1 |  img_url: 'x20' }}" class="footer-payment-logo lazyload" alt="{{ block.settings.payment_1.alt }}"/>
                      </div>
                    {%- endif -%}
                    {%- if block.settings.payment_2 != blank -%}
                      <div class="footer-payment-cell">
                        <img src="{{ 'icon-loader-clock.svg' | asset_url }}" data-src="{{ block.settings.payment_2 |  img_url: 'x20' }}" class="footer-payment-logo lazyload" alt="{{ block.settings.payment_2.alt }}"/>
                      </div>
                    {%- endif -%}
                    {%- if block.settings.payment_3 != blank -%}
                      <div class="footer-payment-cell">
                        <img src="{{ 'icon-loader-clock.svg' | asset_url }}" data-src="{{ block.settings.payment_3 |  img_url: 'x20' }}" class="footer-payment-logo lazyload" alt="{{ block.settings.payment_3.alt }}"/>
                      </div>
                    {%- endif -%}
                    {%- if block.settings.payment_4 != blank -%}
                      <div class="footer-payment-cell">
                        <img src="{{ 'icon-loader-clock.svg' | asset_url }}" data-src="{{ block.settings.payment_4 |  img_url: 'x20' }}" class="footer-payment-logo lazyload" alt="{{ block.settings.payment_4.alt }}"/>
                      </div>
                    {%- endif -%}
                    {%- if block.settings.payment_5 != blank -%}
                      <div class="footer-payment-cell">
                        <img src="{{ 'icon-loader-clock.svg' | asset_url }}" data-src="{{ block.settings.payment_5 |  img_url: 'x20' }}" class="footer-payment-logo lazyload" alt="{{ block.settings.payment_5.alt }}"/>
                      </div>
                    {%- endif -%}
                    {%- if block.settings.security_1 != blank or block.settings.security_2 != blank or block.settings.security_1 != blank -%}
                    <div class="footer-payment-security">
                      <div class="footer-payment-security-container flex-container align-middle">
                        {%- if block.settings.security_1 != blank -%}
                          <div class="footer-payment-security-cell">
                            <img src="{{ 'icon-loader-clock.svg' | asset_url }}" data-src="{{ block.settings.security_1 |  img_url: 'x60' }}" class="footer-payment-security-logo lazyload" alt="{{ block.settings.security_1.alt }}"/>
                          </div>
                        {%- endif -%}
                        {%- if block.settings.security_2 != blank -%}
                          <div class="footer-payment-security-cell">
                            <img src="{{ 'icon-loader-clock.svg' | asset_url }}" data-src="{{ block.settings.security_2 |  img_url: 'x60' }}" class="footer-payment-security-logo lazyload" alt="{{ block.settings.security_2.alt }}"/>
                          </div>
                        {%- endif -%}
                        {%- if block.settings.security_3 != blank -%}
                          <div class="footer-payment-security-cell">
                            <img src="{{ 'icon-loader-clock.svg' | asset_url }}" data-src="{{ block.settings.security_3 |  img_url: 'x60' }}" class="footer-payment-security-logo lazyload" alt="{{ block.settings.security_3.alt }}"/>
                          </div>
                        {%- endif -%}
                      </div>
                    </div>
                    {%- endif -%}
                    {%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,klarna,litecoin,maestro,master,paypal,stripe,shopify_pay,visa' | split: ',' -%}
                    {%- assign payments = block.settings.payments | remove: ' ' | split: ',' -%}
                    {%- for payment in payments -%}
                      {% if payment_icons_available contains payment %}
                        <div class="footer-payment-cell">
                          <img src="{{ 'icon-loader-clock.svg' | asset_url }}" data-src="{{ payment | payment_type_img_url }}"  class="footer-payment-logo lazyload" alt="{{ payment }}" />
                        </div>
                      {%- endif -%}
                    {%- endfor -%}
                  </div>
                </div>
                
              </div>
            </div>
          {%- elsif block.type == 'copyright' -%}
            <div class="cell large-{{ block.settings.grid }} xlarge-{{ block.settings.grid }} {{ block.settings.display }}">
              <div class="footer-copyright">
                <div class="copyright">&copy; {{ 'now' | date: "%Y" }} {{ shop.name | link_to: '/' }}</div> 
              </div>
            </div>
          {%- endif -%}
            {%- endfor -%}
        </div> 
    </div>  
  </div>
</div>
 