{%- include 'breadcrumbs' -%}
<div class="grid-container">
  <div class="card">
    <div class="card-divider">
      <h2 class="card-title">{{ 'customer.order.title' | t: name: order.name }}</h2>
    </div>
    <div class="card-section">
      {%- assign order_date = order.created_at | date: "%B %d, %Y %I:%M%p" -%}
      <p>{{ 'customer.order.date' | t: date: order_date }}</p>
      {%- if order.cancelled -%}
        <div class="order-cancelled">
          {%- assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" -%}
          <p>{{ 'customer.order.cancelled' | t: date: cancelled_at }}</p>
          <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
        </div>
      {%- endif -%}
      <div class="table-scroll">
        <table class="unstriped hover">
          <thead class="border-none">
            <tr>
              <th>{{ 'customer.order.product' | t }}</th>
              <th>{{ 'customer.order.sku' | t }}</th>
              <th>{{ 'customer.order.price' | t }}</th>
              <th>{{ 'customer.order.quantity' | t }}</th>
              <th>{{ 'customer.order.total' | t }}</th>
            </tr>
          </thead>
          <tbody class="border-none">
            {%- for line_item in order.line_items -%}
              <tr id="{{ line_item.key }}">
                <td data-label="{{ 'customer.order.product' | t }}">
                  {{ line_item.title | link_to: line_item.product.url }}
                  {%- if line_item.fulfillment -%}
                    <div class="callout primary">
                      {%- assign created_at = line_item.fulfillment.created_at | date: format: 'month_day_year' -%}
                      {{ 'customer.order.fulfilled_at' | t: date: created_at }}
                      <div>
                        {%- if line_item.fulfillment.tracking_url -%}
                          <a href="{{ line_item.fulfillment.tracking_url }}">
                            {{ 'customer.order.track_shipment' | t }}
                          </a>
                        {%- endif -%}
                        <div>
                          {{ line_item.fulfillment.tracking_company }}
                          {%- if line_item.fulfillment.tracking_number %} #{{ line_item.fulfillment.tracking_number }} {% endif -%}
                          </div>
                        </div>
                      </div>
                    {%- endif -%}
                  </td>
                  <td data-label="{{ 'customer.order.sku' | t }}">{{ line_item.sku }}</td>
                  <td data-label="{{ 'customer.order.price' | t }}">{{ line_item.price | money }}</td>
                  <td data-label="{{ 'customer.order.quantity' | t }}">{{ line_item.quantity }}</td>
                  <td data-label="{{ 'customer.order.total' | t }}">{{ line_item.quantity | times: line_item.price | money }}</td>
                </tr>
              {%- endfor -%}
            </tbody>
            <tfoot class="border-none">
              <tr class="responsive-table__row">
                <td colspan="4" class="text-right">{{ 'customer.order.subtotal' | t }}</td>
                <td data-label="{{ 'customer.order.subtotal' | t }}">{{ order.subtotal_price | money }}</td>
              </tr>
              {%- for discount in order.discounts -%}
                <tr class="order_summary discount">
                  <td colspan="4" class="text-right">{{ discount.code }} {{ 'customer.order.discount' | t }}</td>
                  <td data-label="{{ 'customer.order.discount' | t }}">{{ discount.savings | money }}</td>
                </tr>
              {%- endfor -%}
              {%- for shipping_method in order.shipping_methods -%}
                <tr>
                  <td colspan="4" class="text-right">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</td>
                  <td data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})">{{ shipping_method.price | money }}</td>
                </tr>
              {%- endfor -%}
              {%- for tax_line in order.tax_lines -%}
                <tr>
                  <td colspan="4" class="text-right">{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
                  <td data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)">{{ tax_line.price | money }}</td>
                </tr>
              {%- endfor -%}
              <tr>
                <td colspan="4" class="text-right"><strong>{{ 'customer.order.total' | t }}</strong></td>
                <td data-label="{{ 'customer.order.total' | t }}"><strong>{{ order.total_price | money }} {{ order.currency }}</strong></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-divider">
        <h2 class="card-title">{{ 'customer.order.billing_address' | t }}</h2>
      </div>
      <div class="card-section">
        <p><strong>{{ 'customer.order.payment_status' | t }}:</strong> {{ order.financial_status_label }}</p>
        {{ order.billing_address | format_address }}
      </div>
    </div>
    <div class="card">
      <div class="card-divider">
        <h2 class="card-title">{{ 'customer.order.shipping_address' | t }}</h2>
      </div>
      <div class="card-section">
        <p><strong>{{ 'customer.order.fulfillment_status' | t }}:</strong> {{ order.fulfillment_status_label }}</p>
        {{ order.shipping_address | format_address }}
      </div>
    </div>
  </div>