{% comment %} testing git deployment {% endcomment %}
{%- include 'amp-detector' -%}
{%- unless googleamp -%}
  <!doctype html>
  <!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}" dir="{{ general_page_direction }}"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}" dir="{{ settings.general_page_direction }}"> <!--<![endif]-->
  <head>
    <base href="{{ shop.url }}" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_button }}">
    <link rel="canonical" href="{{ canonical_url }}">
    {%- if template contains 'collection' or template contains 'product' -%}
      <link rel="amphtml" href="{{ canonical_url }}{% if canonical_url contains '?' %}&{% else %}?{% endif %}view=amp">
    {%- endif -%}
    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}
    {%- capture seo_title -%}
      {{ page_title }}
      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {%- endif -%}
      {%- if current_page != 1 -%}
        &ndash; {{ 'general.meta.page' | t: page: current_page }}
      {%- endif -%}
      {%- if template contains 'password' -%}
        {{ 'general.password_page.opening_soon' | t }}
      {%- endif -%}
      {%- unless page_title contains shop.name -%}
        &ndash; {{ shop.name }}
      {%- endunless -%}
    {%- endcapture -%}
    <title>{{ seo_title }}</title>
    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}
    {%- include 'social-meta-tags' -%}
    {%- include 'custom-fonts' -%}
    {%- include 'style' -%}
    <link href="{{ 'custom.scss' | asset_url }}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ 'video-module.css' | asset_url }}" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{{ 'custom.css' | asset_url }}" rel="stylesheet" type="text/css" media="all"/>
    <script src="//cdn.shopify.com/s/javascripts/currencies.js" defer="defer"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    
    
    {{ 'embed-video.js' | asset_url | script_tag }}
    <script>
    var js = jQuery.noConflict();
    js(document).ready(function(){
    js('.embed-video').embedVideo();
    });
    </script>
    <script>
    var theme = {};
    theme.current_page = "{{ template | split: '.' | first }}";
    theme.settings = {{ settings | json }};
    theme.moneyFormat = {{ shop.money_format | json }};
    theme.strings = {
      addToCart: {{ 'products.product.add_to_cart' | t | json }},
      soldOut: {{ 'products.product.sold_out' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      showMore: {{ 'general.filters.show_more' | t | json }},
      showLess: {{ 'general.filters.show_less' | t | json }},
      addressError: {{ 'sections.map.address_error' | t | json }},
      addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
      addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
      authError: {{ 'sections.map.auth_error_html' | t | json }}
    };
    theme.currency = {
      currencyFormat: '{{ settings.currency_format | default: 'money_with_currency_format' }}',
      shopCurrency: '{{ shop.currency }}',
      defaultCurrency: '{{ settings.default_currency | default: shop.currency }}',
      moneyWithCurrencyFormat: {{ shop.money_with_currency_format | strip_html | json }},
      moneyFormat: {{ shop.money_format | strip_html | json }}
    };
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>
    <script>window.__webpack_public_path__ = "{{ '?' | asset_url | split: '?' | first }}";</script>
    <script src="{{ 'bundle-vendors.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'bundle.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
    <!--[if (lte IE 9) ]>{{ 'match-media.min.js' | asset_url | script_tag }}<![endif]-->
    {%- if template.directory == 'customers' -%}
      <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
      <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
    {%- endif -%}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'lazysizes.min.js' | asset_url }}"></script><![endif]-->
    {{ content_for_header }}
  </head>
  <body class="doris template-{{ template.name }} suffix-{{template.suffix}}" {%- if template contains 'product' -%}data-product-container-fix{%- endif -%}>
    <header class="layout-header">
      {%- section 'theme-header' -%}
    </header>
    <main role="main" class="layout-main">
      {% if template contains 'index' %}
      <div class="homepage-layout width-100">            
        <div class="homepage-maincontent cell small-12 medium-12 large-12 xlarge-12 xxlarge-12 xxxlarge-12 ">
          {{ content_for_layout }}
        </div>
      </div>          
      {% else %}
        {{ content_for_layout }}
      {% endif %}
    </main>
    <footer class="layout-footer">
      {%- section 'theme-footer' -%}
    </footer>
    {%- section 'theme-menu-mobile' -%}
    {%- include 'search-box' -%}
    {% if settings.mailing_list_active %}
    {%- include 'newsletter-popup' -%}
    {% endif %}
    {%- include 'cart-mini' -%}
    {%- include 'button-to-top' -%}
    {%- include 'product-quick-view' -%}
    {%- include 'compare-notification' -%}
    {%- include 'wishlist-notification' -%}
    <div class="hide"><img src="{{ 'icon-loader-clock.svg' | asset_url }}" data-src="{{ 'icon.svg' | asset_url }}" alt="svg-injector" class="svg-injector"/></div>
  </body>
  </html>
{%- else -%}
  <!doctype html>
  <!--[if IE 9]> <html amp class="ie9 no-js amp" lang="{{ shop.locale }}" dir="{{ general_page_direction }}"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <html amp class="no-js amp" lang="{{ shop.locale }}" dir="{{ settings.general_page_direction }}"> <!--<![endif]-->
  <head>
    <base href="/" />
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_button }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="amphtml" href="{{ canonical_url }}{% if canonical_url contains '?' %}&{% else %}?{% endif %}view=amp">
    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png"/>
    {%- endif -%}
    {%- capture seo_title -%}
      {{ page_title }}
      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {%- endif -%}
      {%- if current_page != 1 -%}
        &ndash; {{ 'general.meta.page' | t: page: current_page }}
      {%- endif -%}
      {%- unless page_title contains shop.name -%}
        &ndash; {{ shop.name }}
      {%- endunless -%}
    {%- endcapture -%}
    <title>{{ seo_title }}</title>
    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}
    {%- include 'social-meta-tags' -%}
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <style amp-custom>
    {%- if settings.general_page_direction == 'ltr' -%}
    {%- assign stylesheet = 'amp-style-' | append: template.name -%}
    {%- else -%}
    {%- assign stylesheet = 'amp-style-' | append: template.name | append: '-rtl' -%}
    {%- endif -%}
    {%- include stylesheet -%}
    </style>
  </head>
  <body class="doris template-{{ template.name }} suffix-{{template.suffix}}" {%- if template contains 'product' -%}data-product-container-fix{%- endif -%}>
    <header class="layout-header">
      {%- section 'theme-header' -%}
    </header>
    <main role="main" class="layout-main">
      {% if template contains 'index' %}
      <div class="homepage-layout width-100">            
        <div class="homepage-maincontent cell small-12 medium-12 large-12 xlarge-12 xxlarge-12 xxxlarge-12 ">
          {{ content_for_layout }}
        </div>
      </div> 
      {% else %}
        {{ content_for_layout }}
      {% endif %}
    </main>
    <footer class="layout-footer">
      {%- section 'theme-footer' -%}
    </footer>
    {%- section 'theme-menu-mobile' -%}
    <div class="hide">{%- include 'icon' -%}</div>
  </body>
  </html>
{%- endunless -%}