<!-- /sections/blog-template.liquid -->
{%- include 'breadcrumbs' -%}
{%- if section.blocks.size > 0 -%}
  {%- for block in section.blocks -%}
    {%- if block.settings.position == 'left_sidebar' -%}
      {%- assign left_sidebar = true -%}
    {%- elsif block.settings.position == 'right_sidebar' -%}
      {%- assign right_sidebar = true -%}
    {%- elsif block.settings.position == 'top_content' -%}
      {%- assign top_content = true -%}
    {%- elsif block.settings.position == 'bottom_content' -%}
      {%- assign bottom_content = true -%}
    {%- elsif block.settings.position == 'top_container' -%}
      {%- assign top_container = true -%}
    {%- elsif block.settings.position == 'bottom_container' -%}
      {%- assign bottom_container = true -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}
{%- if top_container -%}
  <div class="grid-container">
    <div class="layout-top-container">
      {%- for block in section.blocks -%}
        {%- if block.settings.position == 'top_container' -%}
          {%- include block.type -%}
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
{%- endif -%}
{%- paginate blog.articles by section.settings.limit -%}
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      {%- if left_sidebar -%}
        <div class="cell small-12 large-3 layout-left-sidebar show-for-large" data-layout-left-sidebar>
          {%- for block in section.blocks -%}
            {%- if block.settings.position == 'left_sidebar' -%}
              {%- include block.type -%}
            {%- endif -%}
          {%- endfor -%}
        </div>
      {%- endif -%}
      <div class="cell auto layout-content">
        {%- if top_content -%}
          <div class="layout-top-content">
            {%- for block in section.blocks -%}
              {%- if block.settings.position == 'top_content' -%}
                {%- include block.type -%}
              {%- endif -%}
            {%- endfor -%}
          </div>
        {%- endif -%}
        {%- if section.settings.layout == 'list' -%}
          {%- assign class = 'grid-x grid-margin-x small-up-1 large-up-1' -%}
        {%- else -%}
          {%- if left_sidebar and right_sidebar -%}
            {%- assign class = 'grid-x grid-margin-x small-up-1 medium-up-1 large-up-2 xlarge-up-2 xxlarge-up-3 xxxlarge-up-3' -%}
          {%- elsif left_sidebar or right_sidebar -%}
            {%- assign class = 'grid-x grid-margin-x small-up-1 medium-up-1 large-up-2 xlarge-up-3 xxlarge-up-3 xxxlarge-up-3' -%}
          {%- else -%}
            {%- assign class = 'grid-x grid-margin-x small-up-1 medium-up-1 large-up-3 xlarge-up-4 xxlarge-up-4 xxxlarge-up-4' -%}
          {%- endif -%}
        {%- endif -%}
        <div class="{{ class }}" data-blog-container {% if section.settings.masonry %}data-blog-masonry='{"itemSelector": "[data-blog-container] .article-grid"}'{% endif %}>
          {%- for article in blog.articles -%}
            <div class="cell article-grid">
              <div class="article-item">
                {%- if article.image -%}
                  <div class="article-item-thumb">
                    <a href="{{ article.url }}" class="display-block">
                      {%- assign article_image_size = section.settings.image_width | append: 'x' | append: section.settings.image_height -%}
                      {%- if section.settings.masonry -%}
                        {%- assign article_image_size = section.settings.image_width | append: 'x' -%}
                      {%- endif -%}
                      <img src="{{ 'icon-loader-clock.svg' | asset_url }}" data-src="{{ article.image | img_url: article_image_size, crop: 'center' }}" data-srcset="{{ article.image | img_url: article_image_size, crop: 'center' }} 800w, {{ article.image | img_url: article_image_size, crop: 'center', scale: 2 }} 1440w, {{ article.image | img_url: article_image_size, crop: 'center', scale: 3 }} 1920w" class="article-item-image width-100 lazyload" alt="{{ article.title }}"/>
                      <noscript><img src="{{ article.image | img_url: article_image_size, crop: 'center' }}" class="article-item-image width-100" alt="{{ article.title }}"/></noscript>
                    </a>
                  </div>
                {%- endif -%}
                <div class="article-item-caption">
                  <div class="article-item-info">
                    <span class="article-item-date">{{ article.published_at | date: '%b %d, %Y' }}</span>
                  </div>        
                  <h2 class="article-item-title">
                    <a href="{{ article.url }}">{{ article.title }}</a>
                  </h2>
                </div>
              </div>
            </div>
          {%- endfor -%}
        </div>
        <a href="{% if paginate.next.url %}{{ shop.url }}{{ paginate.next.url }}{% endif %}" data-infinite-link></a>
        <div class="text-center hide" data-infinite-loader>
          <img src="{{ 'icon-loader-clock.svg' | asset_url }}" alt="loader"/>
        </div>
        <div class="blog-pagination flex-container align-right show-for-large"> 
          {%- if paginate.pages > 1 -%}
            {%- include 'pagination' -%}
          {%- endif -%}
        </div>
        {%- if bottom_content -%}
          <div class="layout-bottom-content">
            {%- for block in section.blocks -%}
              {%- if block.settings.position == 'bottom_content' -%}
                {%- include block.type -%}
              {%- endif -%}
            {%- endfor -%}
          </div>
        {%- endif -%}
      </div>
      {%- if right_sidebar -%}
        <div class="cell small-12 large-3 layout-right-sidebar show-for-large" data-layout-right-sidebar>
          {%- for block in section.blocks -%}
            {%- if block.settings.position == 'right_sidebar' -%}
              {%- include block.type -%}
            {%- endif -%}
          {%- endfor -%}
        </div>
      {%- endif -%}
    </div>
  </div>
{%- endpaginate -%}
{%- if bottom_container -%}
  <div class="grid-container">
    <div class="article-bottom-container">
      {%- for block in section.blocks -%}
        {%- if block.settings.position == 'bottom_container' -%}
          {%- include block.type -%}
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
{%- endif -%}
{% schema %}
{
  "name": "Blog pages",
  "class": "blog",
  "max_blocks": 30,
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "Blog layout",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "list",
          "label": "List"
        }
      ],
      "default": "grid"
    },
    {
      "type": "number",
      "id": "limit",
      "label": "Pagination limit",
      "default": 12
    },
    {
      "type": "number",
      "id": "image_width",
      "label": "Image Width",
      "info": "Must be set a non-zero number",
      "default": 450
    },
    {
      "type": "number",
      "id": "image_height",
      "label": "Image Height",
      "info": "Must be set a non-zero number",
      "default": 281
    },
    {
      "type": "checkbox",
      "id": "masonry",
      "label": "Enable Masonry mode",
      "default": false
    }
  ],
  "blocks": [
    {
      "name": "Custom Menu",
      "type": "blog-link-list",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Section Name",
          "info": "Name this section, it will help to control the section more easily."
        },
        {
          "type": "select",
          "id": "position",
          "label": "Position",
          "options": [
            {
              "value": "top_container",
              "label": "Top Container"
            },
            {
              "value": "top_content",
              "label": "Top Content"
            },
            {
              "value": "left_sidebar",
              "label": "Left Sidebar"
            },
            {
              "value": "right_sidebar",
              "label": "Right Sidebar"
            },
            {
              "value": "bottom_content",
              "label": "Bottom Content"
            },
            {
              "value": "bottom_container",
              "label": "Bottom Container"
            }
          ]
        },
        {
          "type": "select",
          "id": "display",
          "label": "Display on",
          "options": [
            {
              "value": "",
              "label": "Desktop & Mobile"
            },
            {
              "value": "show-for-large",
              "label": "Desktop only"
            },
            {
              "value": "hide-for-large",
              "label": "Mobile only"
            }
          ],
          "default": ""
        },
        {
          "type": "link_list",
          "id": "link_list",
          "label": "Link List"
        }
      ]
    },
    {
      "name": "Featured Articles",
      "type": "blog-article",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Section Name",
          "info": "Name this section, it will help to control the section more easily."
        },
        {
          "type": "select",
          "id": "position",
          "label": "Position",
          "options": [
            {
              "value": "top_container",
              "label": "Top Container"
            },
            {
              "value": "top_content",
              "label": "Top Content"
            },
            {
              "value": "left_sidebar",
              "label": "Left Sidebar"
            },
            {
              "value": "right_sidebar",
              "label": "Right Sidebar"
            },
            {
              "value": "bottom_content",
              "label": "Bottom Content"
            },
            {
              "value": "bottom_container",
              "label": "Bottom Container"
            }
          ]
        },
        {
          "type": "select",
          "id": "display",
          "label": "Display on",
          "options": [
            {
              "value": "",
              "label": "Desktop & Mobile"
            },
            {
              "value": "show-for-large",
              "label": "Desktop only"
            },
            {
              "value": "hide-for-large",
              "label": "Mobile only"
            }
          ],
          "default": ""
        },
        {
          "type": "blog",
          "id": "blog",
          "label": "Collection article"
        },
        {
          "type": "header",
          "content": "Responsive columns"
        },
        {
          "type": "select",
          "id": "column_small",
          "label": "Articles per row",
          "info": "For small screen (0px - 550px)",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            }
          ],
          "default": "1"
        },
        {
          "type": "select",
          "id": "column_medium",
          "label": "Articles per row",
          "info": "For medium screen (551px - 800px)",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            },
            {
              "value": "4",
              "label": "4"
            },
            {
              "value": "5",
              "label": "5"
            },
            {
              "value": "6",
              "label": "6"
            }
          ],
          "default": "2"
        },
        {
          "type": "select",
          "id": "column_large",
          "label": "Articles per row",
          "info": "For large screen (801px - 1260px)",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            },
            {
              "value": "4",
              "label": "4"
            },
            {
              "value": "5",
              "label": "5"
            },
            {
              "value": "6",
              "label": "6"
            },
            {
              "value": "7",
              "label": "7"
            },
            {
              "value": "8",
              "label": "8"
            }
          ],
          "default": "3"
        },
        {
          "type": "select",
          "id": "column_xlarge",
          "label": "Articles per row",
          "info": "For xlarge screen (1261px - 1440px)",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            },
            {
              "value": "4",
              "label": "4"
            },
            {
              "value": "5",
              "label": "5"
            },
            {
              "value": "6",
              "label": "6"
            },
            {
              "value": "7",
              "label": "7"
            },
            {
              "value": "8",
              "label": "8"
            }
          ],
          "default": "4"
        },
        {
          "type": "select",
          "id": "column_xxlarge",
          "label": "Articles per row",
          "info": "For xxlarge screen (1441px - 1680px)",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            },
            {
              "value": "4",
              "label": "4"
            },
            {
              "value": "5",
              "label": "5"
            },
            {
              "value": "6",
              "label": "6"
            },
            {
              "value": "7",
              "label": "7"
            },
            {
              "value": "8",
              "label": "8"
            }
          ],
          "default": "4"
        },
        {
          "type": "select",
          "id": "column_xxxlarge",
          "label": "Articles per row",
          "info": "For xxxlarge screen (1681px - infinity)",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            },
            {
              "value": "4",
              "label": "4"
            },
            {
              "value": "5",
              "label": "5"
            },
            {
              "value": "6",
              "label": "6"
            },
            {
              "value": "7",
              "label": "7"
            },
            {
              "value": "8",
              "label": "8"
            }
          ],
          "default": "4"
        },
        {
          "type": "number",
          "id": "limit",
          "label": "Limit article show",
          "default": 4
        }
      ]
    },
    {
      "name": "Banner",
      "type": "blog-banner",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Section Name",
          "info": "Name this section, it will help to control the section more easily."
        },
        {
          "type": "select",
          "id": "position",
          "label": "Position",
          "options": [
            {
              "value": "top_container",
              "label": "Top Container"
            },
            {
              "value": "top_content",
              "label": "Top Content"
            },
            {
              "value": "left_sidebar",
              "label": "Left Sidebar"
            },
            {
              "value": "right_sidebar",
              "label": "Right Sidebar"
            },
            {
              "value": "bottom_content",
              "label": "Bottom Content"
            },
            {
              "value": "bottom_container",
              "label": "Bottom Container"
            }
          ]
        },
        {
          "type": "select",
          "id": "display",
          "label": "Display on",
          "options": [
            {
              "value": "",
              "label": "Desktop & Mobile"
            },
            {
              "value": "show-for-large",
              "label": "Desktop only"
            },
            {
              "value": "hide-for-large",
              "label": "Mobile only"
            }
          ],
          "default": ""
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "number",
          "id": "image_width",
          "label": "Image width",
          "default": 200
        },
        {
          "type": "number",
          "id": "image_height",
          "label": "Image height",
          "default": 200
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    },
    {
      "name": "Tags",
      "type": "blog-tag",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Section Name",
          "info": "Name this section, it will help to control the section more easily."
        },
        {
          "type": "select",
          "id": "position",
          "label": "Position",
          "options": [
            {
              "value": "top_container",
              "label": "Top Container"
            },
            {
              "value": "top_content",
              "label": "Top Content"
            },
            {
              "value": "left_sidebar",
              "label": "Left Sidebar"
            },
            {
              "value": "right_sidebar",
              "label": "Right Sidebar"
            },
            {
              "value": "bottom_content",
              "label": "Bottom Content"
            },
            {
              "value": "bottom_container",
              "label": "Bottom Container"
            }
          ]
        },
        {
          "type": "select",
          "id": "display",
          "label": "Display on",
          "options": [
            {
              "value": "",
              "label": "Desktop & Mobile"
            },
            {
              "value": "show-for-large",
              "label": "Desktop only"
            },
            {
              "value": "hide-for-large",
              "label": "Mobile only"
            }
          ],
          "default": ""
        }
      ]
    },
    {
      "name": "HTML",
      "type": "blog-html",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Section Name",
          "info": "Name this section, it will help to control the section more easily."
        },
        {
          "type": "select",
          "id": "position",
          "label": "Position",
          "options": [
            {
              "value": "top_container",
              "label": "Top Container"
            },
            {
              "value": "top_content",
              "label": "Top Content"
            },
            {
              "value": "left_sidebar",
              "label": "Left Sidebar"
            },
            {
              "value": "right_sidebar",
              "label": "Right Sidebar"
            },
            {
              "value": "bottom_content",
              "label": "Bottom Content"
            },
            {
              "value": "bottom_container",
              "label": "Bottom Container"
            }
          ]
        },
        {
          "type": "select",
          "id": "display",
          "label": "Display on",
          "options": [
            {
              "value": "",
              "label": "Desktop & Mobile"
            },
            {
              "value": "show-for-large",
              "label": "Desktop only"
            },
            {
              "value": "hide-for-large",
              "label": "Mobile only"
            }
          ],
          "default": ""
        },
        {
          "type": "html",
          "id": "html",
          "label": "HTML"
        }
      ]
    }
  ]
}
{% endschema %}
