<!-- /sections/password-template.liquid -->
{%- comment -%}
Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
{%- endcomment -%}
<div class="password-container text-center" style="background-image: url('{% if section.settings.background != blank %}{{ section.settings.background | img_url: 'master' }}{% else %}{{ 'password-bg.jpg' | asset_img_url: 'master' }}{% endif %}');">
  <div class="password-overlay flex-container align-center-middle">
    <div class="grid-container width-100">
      <h1 class="password-store">{{ shop.name }}</h1>
      {%- if section.settings.title -%}
        <h2 class="password-title">{{ section.settings.title }}</h2>
      {%- endif -%}
      {%- if section.settings.subtitle -%}
        <p class="password-subtitle">{{ section.settings.subtitle }}</p>
      {%- endif -%}
      {%- if section.settings.newsletter_enable -%}
        <div class="grid-x align-center-middle">
          <div class="cell small-12 medium-9 large-6">
            {%- form 'customer' -%}
              {%- if form.errors -%}
                <div class="callout alert">{{ form.errors | default_errors }}</div>
              {%- endif -%}
              {%- if form.posted_successfully? -%}
                <div class="callout success">{{ 'general.password_page.signup_form_success' | t }}</div>
              {%- else -%}
                <h3 class="password-form-title">{{ section.settings.newsletter_form_heading | escape }}</h3>
                <input type="hidden" name="contact[tags]" value="prospect, password page">
                <div class="input-group">
                  <input type="email" name="contact[email]" id="email" class="input-group-field" placeholder="{{ section.settings.newsletter_placeholder | escape }}" />
                  <span class="input-group-button">
                    <button type="submit" name="commit" class="button primary">
                      <span>{{ section.settings.newsletter_button_text | escape }}</span>
                    </button>
                  </span>
                </div>
              {%- endif -%}
            {%- endform -%}
          </div>
        </div>
      {%- endif -%}
      <a data-toggle="password-login">{{ 'general.password_page.login_form_heading' | t }}</a>
    </div>
  </div>
</div>
<div class="off-canvas position-top" id="password-login" data-off-canvas>
  <div class="grid-container width-100">
    <div class="grid-x align-center-middle">
      <div class="cell small-12 medium-9 large-6 text-center">
        <h3 class="password-form-title">{{ 'general.password_page.login_form_heading' | t }}</h3>
        {%- unless shop.password_message == blank -%}
          <div class="password-message">
            {{ shop.password_message }}
          </div>
        {%- endunless -%}
        {%- form 'storefront_password' -%}
          {%- if form.errors -%}
            <div class="callout alert">{{ form.errors | default_errors }}</div>
          {%- endif -%}
          <div class="input-group">
            <input type="password" name="password" id="password" class="input-group-field" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"/>
            <span class="input-group-button">
              <button type="submit" name="commit" class="button primary">
                {{ 'general.password_page.login_form_submit' | t }}
              </button>
            </span>
          </div>
        {%- endform -%}
        <div>{{ 'general.password_page.admin_link_html' | t }}</div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Content",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Opening Soon"
    },
    {
      "type": "textarea",
      "id": "subtitle",
      "label": "Sub-Title",
      "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."
    },
    {
      "type": "image_picker",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": "Show newsletter signup",
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_form_heading",
      "label": "Newsletter form heading",
      "default": "Be the first to know when we launch.",
      "info": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)."
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": "Newsletter placeholder text",
      "default": "Email address"
    },
    {
      "type": "text",
      "id": "newsletter_button_text",
      "label": "Newsletter button text",
      "default": "Notify me"
    }
  ]
}
{% endschema %}
