<!-- /templates/product.quick-view.liquid -->
{% layout none %}
{%- assign current_variant = product.selected_or_first_available_variant -%}
<div class="product" data-quick-view-container>
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-12 large-6">
      {%- if product.images.size -%}
        <div class="product-gallery carousel" data-product-gallery>
          <div class="carousel-wrapper carousel-nav-middle">
            <div class="swiper-container" data-carousel-container>
              <div class="swiper-wrapper">
                {% for image in product.images %}
                  <div class="swiper-slide" data-carousel-item="{{ image.src | handle }}">
                    <img src="{{ image.src | img_url: '800x' }}" class="width-100" alt="{{ image.alt | escape }}"/>
                  </div>
                {%- endfor -%}
              </div>
            </div>
            <div class="carousel-navigation carousel-nav-prev show-for-large" data-carousel-nav-prev><em class="sli sli-arrow-left"></em></div>
            <div class="carousel-navigation carousel-nav-next show-for-large" data-carousel-nav-next><em class="sli sli-arrow-right"></em></div>
          </div>
          <div class="carousel-pagination hide-for-large" data-carousel-pagination></div>
        </div>
      {%- endif -%}
    </div>
    <div class="cell small-12 medium-12 large-6">
      <div class="product-info-container">
        <h1 class="product-title">{{ product.title }}</h1>
        <div class="divider"></div>
        <div class="product-price-wrapper" data-price-wrapper>
          <span class="product-price" data-product-price>
            {{ current_variant.price | money }}
          </span>
          {% if product.compare_at_price_max > product.price %}
            <del class="product-price-old" data-product-compare-price>
              {% if current_variant.compare_at_price > current_variant.price %}
                {{ current_variant.compare_at_price | money }}
              {%- endif -%}
            </del>
          {%- endif -%}
        </div>
        <ul class="product-info grid-x large-up-1">
          <li class="cell product-inventory">
            {% if current_variant.available %}
              {%- assign available = 'products.product.in_stock' | t -%}
            {%- else -%}
              {%- assign available = 'products.product.out_stock' | t -%}
            {%- endif -%}
            <span class="product-info-title">{{ 'products.product.available' | t }}:</span>
            <span class="product-info-text" data-product-inventory data-in-stock="{{ 'products.product.in_stock' | t }}" data-out-stock="{{ 'products.product.out_stock' | t }}">{{ available }}</span>
          </li>
          <li class="cell product-sku">
            <span class="product-info-title">{{ 'products.product.sku' | t }}:</span>
            <span class="product-info-text" data-product-sku>{{ current_variant.sku }}</span>
          </li>
          <li class="cell product-type">
            <span class="product-info-title">{{ 'products.product.type' | t }}:</span>
            <span class="product-info-text">{{ product.type }}</span>
          </li>
          <li class="cell product-vendor">
            <span class="product-info-title">{{ 'products.product.vendor' | t }}:</span>
            <span class="product-info-text">{{ product.vendor }}</span>
          </li>
        </ul>
        <div class="divider"></div>
        <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form" data-product-form data-add-cart-form>
          {%- unless product.has_only_default_variant -%}
            <div class="product-option-list">
              {%- for option in product.options_with_values -%}
                <div class="product-option-item" data-product-option-row="{{ forloop.index }}">
                  <div class="product-option-label">{{ option.name }}</div>
                  <div class="product-option-value">
                    {%- assign option_index = forloop.index0 -%}
                    {%- assign option_name = option.name -%}
                    {%- capture option_type -%}
                      {%- include 'product-option-detector' -%}
                    {%- endcapture -%}
                    {%- assign option_type = option_type | strip | strip_newlines -%}
                    {%- if option_type == 'image' or option_type == 'color' -%}
                      <div class="grid-x">
                        {%- assign color = '' -%}
                        {%- assign shown_list = '' -%}
                        {%- for variant in product.variants -%}
                          {%- assign option_handle = variant.options[option_index] -%}
                          {%- unless shown_list contains option_handle -%}
                            {%- if variant.image -%}
                              <label class="product-option-value-item product-option-image">
                                <input type="radio" name="option{{ option.position }}" {% if variant == current_variant %}checked="checked"{% endif %} value="{{ option_handle | escape }}" data-product-option="{{ option_index }}" data-product-option-swatch="{{ variant.image | handle }}" />
                                <img src="{{ 'icon-loader-clock.svg' | asset_url }}" data-src="{{ variant.image | img_url: thumb_height }}" class="display-block lazyload" alt="{{ option_handle }}"/>
                              </label>
                            {%- else -%}
                              {%- capture color_code -%}
                                {%- include 'product-option-color-detector' -%}
                              {%- endcapture -%}
                              {%- assign color_code = color_code | strip | strip_newlines -%}
                              {%- if color_code != blank -%}
                                <label class="product-option-value-item product-option-color">
                                  <input type="radio" name="option{{ option.position }}" {% if variant == current_variant %}checked="checked"{% endif %} value="{{ option_handle | escape }}" data-product-option="{{ option_index }}" />
                                  <span class="display-block" style="background: {{ color_code }};"></span>
                                </label>
                              {%- endif -%}
                            {%- endif -%}
                            {%- assign shown_list = shown_list | append: option_handle | append: ' ' -%}
                          {%- endunless -%}
                        {%- endfor -%}
                      </div>
                    {%- elsif option_type == 'size' -%}
                      <div class="grid-x">
                        {%- for value in option.values -%}
                          <label class="product-option-value-item product-option-size">
                            <input type="radio" name="option{{ option.position }}" {% if option.selected_value == value %}checked="checked"{% endif %} value="{{ value | escape }}" data-product-option="{{ option_index }}" />
                            <span class="flex-container align-center-middle">{{ value }}</span>
                          </label>
                        {%- endfor -%}
                      </div>
                    {%- elsif option_type == 'radio' -%}
                      {%- for value in option.values -%}
                        <label class="product-option-value-item product-option-radio flex-container align-middle">
                          <input type="radio" name="option{{ option.position }}" class="margin-0" {% if option.selected_value == value %}checked="checked"{% endif %} value="{{ value | escape }}" data-product-option="{{ option_index }}" />
                          <span>{{ value }}</span>
                        </label>
                      {%- endfor -%}
                    {%- else -%}
                      <select name="option{{ option.position }}" class="product-option-value-item product-option-dropdown" data-product-option="{{ option_index }}">
                        {%- for value in option.values -%}
                          <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{%- endif -%}>{{ value }}</option>
                        {%- endfor -%}
                      </select>
                    {%- endif -%}
                  </div>
                </div>
              {%- endfor -%}
            </div>
          {%- endunless -%}
          <select name="id" class="product-id" data-product-select>
            {%- for variant in product.variants -%}
              <option {% if variant == current_variant %}selected="selected"{%- endif -%} {% unless variant.available %}disabled="disabled"{% endunless %} value="{{ variant.id }}">
                {{ variant.title }}
              </option>
            {%- endfor -%}
          </select>
          <div class="product-add-cart-container grid-x">
            <div class="product-quantity">
              <label class="input-label hide-for-large">{{ 'products.product.quantity' | t }}</label>
              <div class="input-group" data-number-group data-min="1">
                <span class="input-group-label pointer" data-minus><em class="sli sli-arrow-down"></em></span>
                <input type="text" name="quantity" value="1" class="input-group-field input-control" data-number />
                <span class="input-group-label pointer" data-plus><em class="sli sli-arrow-up"></em></span>
              </div>
            </div>
            <button type="submit" name="add" class="button product-add-cart" {% unless current_variant.available %}disabled="disabled"{% endunless %} data-product-add-cart data-placeholder="{{'general.button.add_to_cart' | t}}" data-adding-message="{{'general.button.adding_to_cart' | t}}" data-added-message="{{'general.button.added_to_cart' | t}}">
              <em class="sli sli-basket"></em>
              <span data-product-add-cart-text>
                {%- if current_variant.available -%}
                  {{ 'products.product.add_to_cart' | t }}
                {%- else -%}
                  {{ 'products.product.sold_out' | t }}
                {%- endif -%}
              </span>
              <small class="progress secondary"><small class="progress-meter"></small></small>
            </button>
            {%- if section.settings.show_wishlist_button -%}
              <a class="button radius product-wishlist show-for-large flex-container align-middle" data-wishlist="{{ product.handle }}">
                <em class="sli sli-heart icon-add" title="{{ 'general.button.wishlist' | t }}"></em>
                <em class="sli sli-check icon-added" title="{{ 'general.button.wishlist_added' | t }}"></em>
                {{ 'wishlist.button.add' | t }}
              </a>
            {%- endif -%}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<a class="product-quick-view-close flex-container align-center-middle" data-toggle="product-quick-view">
  <!-- <em class="sli sli-close"></em> -->
  {% include 'icon-cross' %}
</a>
<script type="application/json" data-product-quick-view-data>{{ product | json }}</script>